CONTRACTOR_HOST = 'http://contractor'
CONTRACTOR_PROXY = None
CONTRACTOR_USERNAME = 'mcp'
CONTRACTOR_PSK = 'mcp'

GIT_LOCAL_PATH = '/var/www/git'
GIT_HOST = 'http://git/'

GITHUB_API_HOST = 'https://github/api/v3'
GITHUB_HOST = 'https://github/'
GITHUB_USER = 'mcp'  # if using auth token, set the username to the token and set GITHUB_PASS to None
GITHUB_PASS = 'mcp'
GITHUB_PROXY = None
# to set a http_proxy for git use `git config --system http.proxy <http proxy>`

PACKRAT_HOST = 'http://packrat'
PACKRAT_PROXY = None
PACKRAT_USERNAME = 'mcp'
PACKRAT_PSK = 'mcp'

# optional: appends to the process name in slack messages, if there are multiple MCPs reporting to the same slack channel
SITE_NAME = None

SLACK_API_TOKEN = None
SLACK_CHANNEL = '#mcp'
SLACK_PROXY = None

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False

MCP_HOST = 'http://mcp'
MCP_PROXY = None

# Application definition

INSTALLED_APPS = (
    'mcp.Project',
    'mcp.Resource',
    'mcp.Processor',
    'mcp.Auth',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions'
)

# Database
# https://docs.djangoproject.com/en/1.7/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'mcp',
        'USER': 'mcp',
        'PASSWORD': 'mcp',
        'HOST': '127.0.0.1',
        'PORT': '',
    }
}


LANGUAGE_CODE = 'en-us'

TIME_ZONE = 'UTC'

USE_I18N = True

USE_L10N = True

USE_TZ = True
