{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-10 col-md-push-2">
        <div class="starter-template">
            <div class="page-header">
                <h1>
                    <a href="https://github.emcrubicon.com/plato" target="_blank">plato</a> / <a
                    href="https://github.emcrubicon.com/plato/plato-config" target="_blank">plato-config</a> <a
                    href="https://github.emcrubicon.com/plato/plato-config" target="_blank"><i
                    class="fa fa-github fa-fw"></i></a> <img src="ui/image/build-pass.svg">
                </h1>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#build-jobs" role="tab" data-toggle="tab">
                        <i class="fa fa-wrench fa-fw"></i> Build Jobs
                    </a>
                </li>
                <li>
                    <a href="#queued-jobs" role="tab" data-toggle="tab">
                        <i class="fa fa-exchange fa-fw"></i> Queued Jobs
                    </a>
                </li>
                <li>
                    <a href="#promotion-jobs" role="tab" data-toggle="tab">
                        <i class="fa fa-cloud-upload fa-fw"></i> Promotion Jobs
                    </a>
                </li>
                <li>
                    <a href="#commit-list" role="tab" data-toggle="tab">
                        <i class="fa fa-code-fork"></i> Commit List
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade active in" id="build-jobs">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Job Id</th>
                                <th>Distro</th>
                                <th>State</th>
                                <th>Status</th>
                                <th>Manual</th>
                                <th>Updated</th>
                                <th>Target</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in job_list %}
                            <tr>
                                <td>{{ item.pk }}</td>
                                <td>{{ item.build.name }}</td>
                                <td>{{ item.state }}</td>
                                <td>{{ item.resources }}</td>
                                <td>{{ item.manual }}</td>
                                <td>{{ item.updated }}</td>
                                <td>{{ item.target }}</td>
                                <td>{{ item.created }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="queued-jobs">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Queue Id</th>
                                <th>Priority</th>
                                <th>Manual</th>
                                <th>Build</th>
                                <th>Status</th>
                                <th>Updated</th>
                                <th>Target</th>
                                <th>Branch</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in queue_list %}
                            <tr>
                                <td>{{ item.pk }}</td>
                                <td>{{ item.priority }}</td>
                                <td>{{ item.manual }}</td>
                                <td>{{ item.build.name }}</td>
                                <td>{{ item.resource_status }}</td>
                                <td>{{ item.updated }}</td>
                                <td>{{ item.target }}</td>
                                <td>{{ item.branch }}</td>
                                <td>{{ item.created }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="promotion-jobs">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Promotion Id</th>
                                <th>Packages/Versions</th>
                                <th>To State</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in promotion_list %}
                            <tr>
                                <td>{{ item.pk }}</td>
                                <td>{% for pkg_version in item.promotionpkgversion_set.all %} {{ pkg_version.package_version.package.name }}({{ pkg_version.package_version.version }}){% endfor %}</td>
                                <td>{{ item.to_state }}</td>
                                <td>{{ item.created }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="commit-list">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Commit Id</th>
                                <th>Repository</th>
                                <th>Branch</th>
                                <th>Commit</th>
                                <th>Lint At</th>
                                <th>Lint Status</th>
                                <th>Test At</th>
                                <th>Test Status</th>
                                <th>Build At</th>
                                <th>Build Status</th>
                                <th>Last Updated</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in commit_list %}
                            <tr>
                                <td>{{ item.pk }}</td>
                                <td>{{ item.project.githubproject.github_url }}</td>
                                <td>{{ item.branch }}</td>
                                <td>{{ item.commit }}</td>
                                <td>{{ item.lint_at }}</td>
                                <td>{{ item.lint_results }}</td>
                                <td>{{ item.test_at }}</td>
                                <td>{{ item.test_results }}</td>
                                <td>{{ item.build_at }}</td>
                                <td>{{ item.build_results }}</td>
                                <td>{{ item.updated }}</td>
                                <td>{{ item.created }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-2 col-md-pull-10">
        <div class="sidebar">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search projects...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i> </button>
                </span>
            </div>
            <div class="page-header projects">
                <h4>my projects &nbsp;<a href="#">+</a></h4>
            </div>
            {% for item in project_list %}
            <div class="project passed">
                <dl>
                    <dt><i class="fa fa-check fa-fw"></i>&nbsp; {{ item.name }}</dt>
                    <dd><i class="fa fa-clock-o fa-fw"></i>&nbsp; Updated: {{ item.updated }}</dd>
                    <dd><i class="fa fa-calendar-o fa-fw"></i>&nbsp; Created: {{ item.created }}</dd>
                </dl>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
