Source: mcp
Section: nonfree/autobots
Priority: optional
Maintainer: Peter Howe <peter.howe@emc.com>
Build-Depends: cdbs (>= 0.4.90), debhelper (>= 7), python (>= 2.7), python-dev (>=2.7), python-setuptools (>=0.6)
Standards-Version: 3.8.3
X-Python-Version: >= 2.7

Package: mcp
Architecture: all
Depends: plato-master (>= 0.3.18), python-cinp, graphviz, git, make, ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: MCP
  MCP - Master Control Program
