Source: mcp
Section: nonfree/autobots
Priority: optional
Maintainer: Peter Howe <peter.howe@emc.com>
Build-Depends: cdbs (>= 0.4.90), debhelper (>= 7), python (>= 2.7), python-dev (>=2.7), python-setuptools (>=0.6)
Standards-Version: 3.8.3
X-Python-Version: >= 2.7

Package: mcp
Architecture: all
Depends: python-django (>= 1.4), python-django-south (>= 0.7.5), plato-master, ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: MCP
  MCP - Master Controll Program
